// Include mixin functions
@import "./mixins.scss";

// Set color variables.
$primary-color: #fff; // Background, font-color, nav-bar
$secondary-color: #295237; // Content blocks
$tertiary-color: #051c0d; // Footer color
$button-color: #9e8e5f; // Infobuttons
$button-border: #57471a; // Infobutton Borders
$button-overlay: #fff; // Picture overlay to show button
$font-stack : 'Open Sans', sans-serif; // Basic fontstack
$font-title-stack : 'Arvo', serif; // Title font-stack

// General styles
body {
  font-family: $font-stack;
  font-size: 1em;
  color: $primary-color;
  background-color: $primary-color;
  margin: 0;
  position: relative;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 67.5em;
  margin: 0 auto;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

// Header styles
.header {

  &__nav {
    height: 4em;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);

    @include respond-to(medium){
      height: 6em;
    }

    &--logo {
      height: 4em;
      width: auto;
      float: left;
      padding-left: 15px;

      @include respond-to(medium){
        height: 6em;
        padding: 0;
      }
    }

    &--menu-toggle {
      display: none;

      &:checked {
        ~ .header__nav--list {
          display: block;
        }

        ~ .header__nav--menu-icon {
          background-image: url('../images/close.svg');
        }
      }
    }

    &--menu-icon {
      position: absolute;
      right: 15px;
      z-index: 20;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/menu.svg');
      display: block;
      margin-top: 1.5em;

      @include respond-to(medium){
        display: none;
      }
    }

    &--list {
      display: none;
      vertical-align: top;
      position: absolute;
      height: 100vh;
      width: 100%;
      z-index: 10;
      background-color: rgba(0,0,0,0.9);

      @include respond-to(medium){
        display: block;        
        float: right;
        position: relative;
        background-color: transparent;
        width: auto;
        height: auto;
      }

      ul {        
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        padding-left: 0;

        @include respond-to(medium){
          transform: none;
          position: static;
          height: 6em;
          margin: 0;
          padding-top: 3.5em;
          box-sizing: border-box;
        }
      }
    }

    &--listitem {
      display: block;
      padding: .5em 0;
      font-size: 1.2em;
      font-weight: 600;

      &.active {
        font-weight: 900;

        @include respond-to(medium){
          padding: 0;
          font-weight: 600;
        }
      }

      @include respond-to(medium){
        display: inline-block;
        padding: 0 15px;
      }

      a {
        color: #fff;

        @include respond-to(medium){
          color: #000;
        }
      }
    }

    &--filler {
      height: 4em;
      width: 100%;

      @include respond-to(medium){
        height: 6em;
      }
    }
  }

  &__hero {
    width: 100%;
    max-height: 30em;
    overflow: hidden;
    position: relative;

    &--image {
      width: 100%;
      height: auto;
    }

    &--title {
      font-size: 2em;
      font-family: $font-title-stack;
      position: absolute;
      bottom: 30px;
      left: auto;
      margin: 0;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
      padding-left: 15px;

      @include respond-to(small){
        font-size: 3em;
        padding: 0;
      }

      @include respond-to(medium){
        font-size: 4em;
      }
    }
  }
}

// Main styles
main {
  padding: 15px 0;

  @include respond-to(medium){
    padding: 50px 0;
  }
}

.block {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px 0;

  @include respond-to(small){
    margin: 7.5px;
  }


  // set section width and heights
  &.col-1 {
    width: 100%;

    @include respond-to(small){
      width: calc((100% / 2) - 15px);
    }

    @include respond-to(medium){
      width: calc((100% / 3) - 15px);
    }
  }
  &.col-2 {
    width: 100%;

    @include respond-to(small){
      width: calc((100% / 2) - 15px);
    }

    @include respond-to(medium){
      width: calc(((100% / 3) * 2) - 15px);
    }
  }
  &.col-3 {
    width: 100%;

    @include respond-to(small){
      width: calc((100% / 2) - 15px);
    }

    @include respond-to(medium){
      width: calc(100% - 15px);
    }
  }

  &.row-1 {
    height: 15em;

    @include respond-to(small){
      height: 20em;
    }

    @include respond-to(medium){
      height: 15em;
    }
  }
  &.row-2 {
    height: 15em;

    @include respond-to(small){
      height: 40em;
    }

    @include respond-to(medium){
      height: calc(30em + 15px);
    }
  }
  &.row-3 {
    height: 15em;
    
    @include respond-to(small){
      height: 40em;
    }

    @include respond-to(medium){
      height: calc(45em + 30px);
    }
  }

  img {
    position: absolute;
    top: -100%;
    left: -100%;
    visibility: hidden;
  }

  &__text {
    background-color: $secondary-color;
    padding: 15px;
    box-sizing: border-box;
    overflow-x: auto;
    min-height: 40em;

    @include respond-to(small) {
      min-height: auto;
    }
  }
  &__img {
    overflow: hidden;
    height: 20em;
  }

  &__button {
    position: relative;
    text-align: center;

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(158, 142, 95, 0.63);
      padding: 10px 20px;
      border: 6px solid #57471a;
      font-family: $font-title-stack;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
    }
  }
  &__slider {
    position: relative;

    li {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}

// Footer styles
.footer {
  background-color: $tertiary-color;
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include respond-to(medium){
      flex-direction: row;
      text-align: initial;
    }
  }

  &__left {
    flex-basis: 50%;
    width: 50%;
    padding-left: 15px;

    .footer__title {
      text-align: left;
    }

    .footer__list {
      text-align: left;
    }

    @include respond-to(medium){
      flex-basis: calc(50% - 2em);
      width: calc(50% - 2em);
      padding-right: 2em;

      .footer__title {
        text-align: right;
      }
  
      .footer__list {
        text-align: right;
      }
    }
  }

  &__right {     
    flex-basis: 50%;
    width: 50%;
    padding-left: 15px;

    @include respond-to(medium){
      flex-basis: calc(50% - 2em);
      width: calc(50% - 2em);
      padding-left: 2em;
    }
  }

  &__title {
    font-family: $font-title-stack;
    font-size: 2em;
  }

  &__list {
    list-style: none;
    text-align: left;

    &--icons {
      padding-left: 30px;
    }
  
    &--item {
      position: relative;
      padding: 5px 0;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        left: -30px;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &--phone:before {
      background-image: url('../images/telephone.svg');
    }

    &--mail:before {
      background-image: url('../images/mail.svg');
    }

    &--location {
      margin-top: 20px;
      span {
        display: block;
      }

      &:before {
        height: 30px;
        width: 25px;
        top: 13px;
        left: -32px;
        background-image: url('../images/location.svg');
      }
    }
      
  }

  &__copyrights {
    text-align: center;
    padding: 20px 0;
     
    p {
      margin: 0;
    }
  }
}